:root {
  font-family: "Manrope Variable", sans-serif;
  font-size: 62.5%;

  --dark-blue: #202733;
  --dark-grayish-blue: #313a48;
  --grayish-blue: #4f5d74;
  --light-cyan: #cee3e9;
  --neon-green: #53ffaa;
}

/* TODO: add heading for mobile */

.heading {
  margin: 0;

  font-size: 1.1rem;
  font-weight: 800;
  line-height: 1.5rem;
  letter-spacing: 0.346rem;
}

/* TODO: add quote for mobile */

.quote {
  margin: 0;

  font-size: 2.4rem;
  font-weight: 800;
  line-height: 3.3rem;
  letter-spacing: -0.026rem;
}

@media (min-width: 572px) {
  .heading {
    font-size: 1.3rem;
    line-height: 1.78rem;
    letter-spacing: 0.409rem;
  }

  .quote {
    font-size: 2.8rem;
    line-height: 3.82rem;
    letter-spacing: -0.03rem;
  }
}
